<%- include("partials/header"); %> 
<h1>Home</h1>
<p><%= HomeContent %> </p>
<% newpost.forEach(function(content){ %>
  <h1> <%=(content.title)%> </h1>
  <p> <%=(content.Post).substring(0,100)+" ... "%><a href="/posts/search/<%=(content.title)%>">Read more</a> </p>
 
<% })%> 

<%- include("partials/footer") %> 
